.projectos{
	width: 94%;
	max-width: 500px;
	margin-right: 3%;
	margin-left: 3%;
	border-radius: 6px;
	transition: all 400ms ease;
	border: 2px solid var(--colorP);
	height: 450px;
	margin-top: 10px;
	margin-bottom: 30px;
	display: inline-grid;
}

.projectos .contenido1{
	padding: 15px;
	text-align: center;
}
	
.projectos .contenido1 p{
	line-height: 1.5;
	color: var(--Letras);
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 20px;
}
	
.projectos h3{
	color: var(--Letras);
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 30px;
}

.projectos .contenido1 a{
	font-size: 25px;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	color: var(--colorP);
	border: 1px solid var(--colorP);
	border-radius: 4px;
	transition: all 400ms ease;
	font-family: 'Montserrat Alternates', sans-serif;
}
	
.projectos .contenido1 a:hover{
	background: var(--colorP);
	color: var(--Letras);
}

@media (max-width: 1144px){
	.projectos{
		max-width: 700px;
	}
}

@media (max-width: 764px){
	.projectos{
		width: 500px;
		height: 500px;
	}
}

@media (max-width: 540px){
	.projectos{
		width: 300px;
		height: 550px;
	}
}