@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
    
    
    /* Caratula Section About Me */

	.contenedorr{
		width: 100%;
		display: flex;
		max-width: 850px;
		top: 100px;
		position: relative;
	} 
	
	.card{
		width: 100%;
		margin: 20px;
		border-radius: 6px;
		overflow: hidden;
		background: none;
		cursor: default;
		transition: all 400ms ease;
	}
	
	img{
		width: 100%;
	}
	
	.card .contenido{
		padding: 15px;
		text-align: center;
	}
	
	.card .contenido p{
		line-height: 1.5;
		color: white;
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 25px;
	}
	
	.card .contenido a{
		font-size: 25px;
		text-decoration: none;
		display: inline-block;
		padding: 10px;
		margin-top: 10px;
		color: #2fb1cc;
		border: 1px solid #2fb4cc;
		border-radius: 4px;
		transition: all 400ms ease;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	
	.card .contenido a:hover{
		background: #2fb4cc;
		color: white;
	}
	
		/* Fin Caratula About Me */


	/* Caratula Section Certificados */


	h2.Certificates
    {
        color: white;
        position:relative;
        font-size: 50px;
        font-family:'Montserrat Alternates', sans-serif;
        bottom: -300px;
    }


	.contenedorC{
		width: 100%;
		display: flex;
		max-width: 550px;
		top: 100px;
	} 

	.card2{
		position: relative;
		bottom: -450px;
		width: 100%;
		border-radius: 6px;
		overflow: hidden;
		background: black;
		transition: all 400ms ease;
	}

	.card2 .contenido1{
		padding: 15px;
		text-align: center;
	}
	
	.card2 .contenido1 p{
		line-height: 1.5;
		color: #6a6a6a;
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 20px;
	}
	
	.card2 h3{
		color: white;
		font-weight: 400;
		margin-bottom: 20px;
		font-size: 35px;
	}


	.card2 .contenido1 a{
		font-size: 25px;
		text-decoration: none;
		display: inline-block;
		padding: 10px;
		margin-top: 10px;
		color: #2fb1cc;
		border: 1px solid #2fb4cc;
		border-radius: 4px;
		transition: all 400ms ease;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	
	.card2 .contenido1 a:hover{
		background: #2fb4cc;
		color: white;
	}
	

		/* Fin Caratula certificados */

