.caratula{
    padding: 80px;
}

h2.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 40px;
}

#contenedor{
    text-align: center;
}


input[type="radio"] { 
    display: none;
}

label{
    margin: 0px 10px;
    cursor: pointer;
    color: white;
    font-size: 25px;
    padding: 10px;
}

label:hover{
    color: crimson;
}


	.contenedorC{
        padding: 10px;
		width: 100%;
		display: flex;
		max-width: 1100px;
		height: 600px;
	} 

	.card2{
		width: 100%;
		border-radius: 6px;
		overflow: hidden;
		background: rgb(0, 0, 0);
		transition: all 400ms ease;
		border: 1px solid gray;
		max-height: 450px;
		margin: 20px;
		margin-top: 20px;
	}

	.card2 .contenido1{
		padding: 15px;
		text-align: center;
	}
	
	.card2 .contenido1 p{
		line-height: 1.5;
		color: white;
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 20px;
	}
	
	.card2 h3{
		color: white;
		font-weight: 400;
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 30px;
	}


	.card2 .contenido1 a{
		font-size: 25px;
		text-decoration: none;
		display: inline-block;
		padding: 10px;
		margin-top: 10px;
		color: crimson;
		border: 1px solid crimson;
		border-radius: 4px;
		transition: all 400ms ease;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	
	.card2 .contenido1 a:hover{
		background: crimson;
		color: white;
	}