body{
background-image: url('/fondo1.gif');
background-size:cover;
}

.contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.menu {
    list-style: none;
    padding: 0;
    background:none;
    width: 610px;
    max-width: 1000px;
    margin: auto;   
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}

h2.titulo
{
    color: gray;
    position: relative;
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1.titulo1
{
    color: white;
    position: relative;
    bottom: 30px;
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2.portfolio
{
    color: white;
    position: relative;
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aud {
    position: relative;
    bottom: -400px;
}